@import url('./font.css');
@import '../../evm/ui/style/index.less';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.popover-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

iframe {
  overflow-clip-margin: content-box !important;
  border-width: 0px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  overflow: clip !important;
}

.ant-checkbox-inner {
  width: 15px !important;
  height: 15px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-width: 1px !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.ant-checkbox {
  width: 15px !important;
  height: 15px !important;

  background-color: #383535 !important;
}

.ant-checkbox-checked {
  background-color: #48e3c5 !important;
}

div {
  border: 0px solid;
}

// For scrollbar
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.854);
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.ant-tooltip {
  max-width: 300px !important;
}

.recent-account-select {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;

  padding: 2px 2px;
  background: #2a2626;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;

  &:hover {
    background: #383535;
    border: none;
    border-radius: 0.3rem;
  }
}
.card-select {
  &:hover {
    background: #383535 !important;
    border: none !important;
    // border-radius: 0.3rem !important;
  }
}

.column-select {
  padding: 5px 5px;
  &:hover {
    background: #383535 !important;
    border: none !important;
    border-radius: 0.3rem !important;
  }
}

.text-select {
  &:hover {
    text-decoration: underline;
  }
}

.custom-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #383535;
  border-color: rgba(254, 252, 252, 0.879);
  .ant-steps-icon {
    color: rgba(255, 255, 255);
  }
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0 0 5px 0 !important;
}

.ant-input-number {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.ant-segmented-item-selected {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #339999 !important;
}
.ant-segmented {
  color: #ffffff !important;
}

.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
  font-size: 1rem !important;
}

.select-checkbox-wrapper {
  align-items: stretch !important;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 16px !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  display: flex !important;
}

.ant-drawer .ant-drawer-body {
  padding: 10px 20px 24px !important;
}
